.kalenderBlad {
    flex: 0 1 auto;
    background-color: aliceblue;
    box-shadow: 2px 2px 9px gray;
    padding: 1em 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-template-areas:
        "year . week"
        "weekday weekday weekday"
        "date date date"
        "month month month"
        "names names names"
        "additional additional additional";
}
div {
    text-align: center;
}

.year {
    grid-area: year;
}
.week {
    grid-area: week;
}
.weekday {
    grid-area: weekday;
    font-size: 2.5em;
}
.date {
    grid-area: date;
    font-size: 6em;
}
.month {
    grid-area: month;
    font-size: 2em;
}
.names {
    margin-top: 0.4em;
    grid-area: names;
    font-style: italic;
    font-size: 0.8em;
}
.additional {
    grid-area: additional;
}
